.chat-container {
    display: flex;
    height: 100vh;
}

.conversation-list {
    background-color: #0288D1;
    width: 15%;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.message-area {
    background-image: url("../img/verduras.jpg");
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
}

.message {
    margin-bottom: 15px;
}

.message.sent {
    text-align: right;
}

.message-received {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.message-sent {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

.message-input {
    display: flex;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.message-input input {
    flex-grow: 1;
    margin-right: 10px;
}

.list-group-item{
    border: none;
    background-color: #0288D1;
}
body{
    background-color: #0288D1;
}

#home{
    color: white;
}

#logo {
    width: 140px;
    height: 140px;
    align-self: center;
    margin-bottom: 20px;

}

.list-group-item{
    color: white;
}
