body {
    margin: 0;
    display: flex;
    height: 100vh;
}

.left-column {
    background-image: url("../img/logoinicio.JPG");
    background-size: 349px;
    background-repeat: no-repeat;
    width: 350px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.right-column {
    flex: 1;
    /* La columna derecha ocupa el espacio restante */
    background-image: url("../img/verdurasbyg.jpg");
    /* Fondo de imagen */
    background-size: cover;
    /* La imagen se ajusta a la columna */
    background-position: center;
    /* Centrar la imagen de fondo */
    display: flex;
    /* Centro la imagen dentro de la columna */
    justify-content: center;
    /* Centro la imagen */
    align-items: center;
    /* Centro la imagen */
}

.right-column img {
    max-width: 50%;
    /* La imagen se ajusta al ancho de la columna */
    max-height: 50%;
    /* La imagen se ajusta a la altura de la columna */
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

a {
    text-align: center;
    display: block;
    margin-top: 10px;
}

p {
    text-align: center;
    margin-top: 10px;
}